@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto";
    font-weight: normal;
    src: url(/fonts/Roboto-Regular.ttf);
  }
  @font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url(/fonts/Roboto-Bold.ttf);
  }

  ::-webkit-scrollbar {
    width: 14px;
  }
  ::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
  }

  ::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
  }
}

@layer components {
  .dark-edges::after,
  .dark-edges::before {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 100%;
    z-index: 2;
    top: 0;
  }
  .dark-edges::after {
    right: 0;
    background-image: linear-gradient(to right, transparent, #000);
  }
  .dark-edges::before {
    left: 0;
    background-image: linear-gradient(to left, transparent, #000);
  }

  .clip-full {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .clip-hide-top {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .clip-hide-bottom {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }

  .stick-left {
    left: 0;
    border-radius: 0 1rem 1rem 0;
  }

  .stick-right {
    right: 0;
    border-radius: 1rem 0 0 1rem;
  }
}

.form-enter-from,
.form-leave-to {
  opacity: 0;
  transform: scale(0);
}

.form-enter-active,
.form-leave-active {
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.message-enter-from {
  opacity: 0;
  transform: translateX(-50vw);
}
.message-leave-to {
  opacity: 0;
  transform: translateX(50vw);
}
.message-enter-active,
.message-leave-active {
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.fastlinks-enter-from,
.fastlinks-leave-to {
  transform: scale(0.01);
}
.fastlinks-leave-active {
  position: absolute;
}
.fastlinks-enter-active,
.fastlinks-leave-active,
.fastlinks-move {
  transition: all 0.2s ease-in-out;
}
